@import 'unit'
@import 'breakpoint'

*
  font-family: Roboto

body
  background-color: #f5f8fa

.b-fhem-url-input
  padding-top: 100px

.b-fhem-navigation
  .b-fhem-navigation--top-bar
    position: fixed
    top: 0
    left: 0
    width: 100%
    z-index: 200

.b-content-row
  padding-top: 60px
  background-color: #fff

.b-fhem-devices
  padding-top: 30px

.b-fhem-rollo-device, .b-fhem-max-device, .b-fhem-generic-device, .b-fhem-svg-device
  margin-top: 30px
  padding-top: 30px
  border-top: 1px solid rgba(black, 0.1)

.b-fhem-svg-device
  img
    width: 100%
    margin-bottom: 40px

.float-right
  float: right

.with-top-margin
  margin-top: 40px

.chrome-picker
  width: 320px !important
  margin: 0 auto

.a-button
  margin-right: 10px
  margin-bottom: 10px

.a-button-group
  @include breakpoint(small only)
    text-align: center

.white-icon
  color: #fff !important

.hidden
  display: none

.text-center
  text-align: center
