*
  font-family: Roboto

body
  background-color: #f5f8fa

.b-fhem-url-input
  padding-top: 100px

.b-fhem-navigation
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 1

.b-content-row
  padding-top: 100px
  background-color: #fff

.b-fhem-device
  .pt-ui-text-large
    margin-top: 5px
  .pt-slider
    margin-top: 10px

.b-fhem-rollo-device, .b-fhem-max-device, .b-fhem-generic-device
  margin-top: 60px

.b-fhem-svg-device
  margin-top: 60px
  img
    width: 100%

.float-right
  float: right

.with-top-margin
  margin-top: 40px

.chrome-picker
  width: 320px !important
  margin: 0 auto
